# Ignorar TODO por defecto (excepciones abajo)
/*

# Solo exponer wp-content
!wp-content/

# Dentro de wp-content: solo themes y plugins (custom)
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Themes: solo child theme propio
wp-content/themes/*
!wp-content/themes/hello-elementor-child/

# Plugins: solo los desarrollados a medida
wp-content/plugins/*
!wp-content/plugins/padelprofi-cost-analysis/
!wp-content/plugins/padel-recommender/
!wp-content/plugins/babolat-recommender/
!wp-content/plugins/ReservasPalas2026/
!wp-content/plugins/woocommerce-featured-padel-updated/
!wp-content/plugins/sitemap-personalizado-pro/
!wp-content/plugins/wc-category-groups/
!wp-content/plugins/padelprofi-carousel/

# Dentro del child theme: excluir archivos innecesarios
wp-content/themes/hello-elementor-child/assets/plugins/
!wp-content/themes/hello-elementor-child/assets/plugins/slick/
!wp-content/themes/hello-elementor-child/assets/plugins/swiper/
!wp-content/themes/hello-elementor-child/assets/plugins/font-awesome-6/
wp-content/themes/hello-elementor-child/carousel-slider/
wp-content/themes/hello-elementor-child/js/carousel-slider/
